<configuration>
    <!-- 공통 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{threadId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- local 프로파일 -->
    <springProfile name="default,local">
        <appender name="LOCAL-FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/local-app.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{threadId}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOCAL-FILE" />
        </root>
    </springProfile>

    <!-- dev 프로파일 -->
    <springProfile name="dev">
        <appender name="DEV-FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/dev-app.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{threadId}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DEV-FILE" />
        </root>
    </springProfile>

    <!-- prod 프로파일 -->
    <springProfile name="prd">
        <appender name="PRD-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/prod-app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/prod-app-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory> <!-- 30일간 보관 -->
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{threadId}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="PROD-FILE" />
        </root>
    </springProfile>

    <!-- 기본 프로파일 (default) -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>